<div class="wrapper">
  <app-header [menu]="menuLinks" (clickMenu)="clickMenu($event)"></app-header>

  <div class="layout">
    <app-search></app-search>
    <app-loading *ngIf="isLoading"></app-loading>

    <div class="error" *ngIf="isError">
      <div class="title">
        {{ isError.error.statusCode }} -> {{ isError.error.error }}
      </div>
      <div class="description">{{ isError.error.message }}</div>
    </div>

    <ng-container *ngIf="!isLoading && !isError">
      <h4>Sonuçlar</h4>

      <div class="feeds">
        <div *ngFor="let feed of feeds; index as i">
          <app-feed
            *ngIf="i + 1 == feeds.length"
            [feed]="feed"
            #theLastFeed
          ></app-feed>
          <app-feed *ngIf="i + 1 != feeds.length" [feed]="feed"></app-feed>
        </div>
      </div>
    </ng-container>

    <app-loading *ngIf="isNextLoading"></app-loading>
  </div>

  <app-footer></app-footer>
</div>
