<div class="wrapper">
  <app-header [menu]="menuLinks"></app-header>

  <div class="layout">
    <app-search></app-search>
    <ng-container *ngIf="isLoading">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif"
        alt=""
      />
    </ng-container>
    <ng-container *ngIf="isError">
      <div class="error">
        <div class="title">
          {{ isError.error.statusCode }} -> {{ isError.error.error }}
        </div>
        <div class="description">{{ isError.error.message }}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isLoading && !isError">
      <h4>Sonuçlar</h4>

      <div class="feeds">
        <div *ngFor="let feed of feeds">
          <app-feed [feed]="feed"></app-feed>
        </div>
      </div>
    </ng-container>
  </div>

  <app-footer></app-footer>
</div>
