<div class="feed">
  <div class="top_wrapper">
    <img src="../assets/images/visneli-sarmal.png" alt="visneli-sarmal" />
    <div class="star">
      <img src="../assets/icons/star.svg" alt="star" />
      <span>4.9</span>
    </div>
  </div>
  <div class="description">
    <span class="bold">{{ feed.title }}</span>
    <div class="category">
      <span class="opacity50">Coffee, Tatlı</span>
      <div class="right">
        <img src="../assets/icons/shopping_basket.svg" alt="star" />
        <span class="opacity50">Min Sipariş Tutarı : 30TL</span>
      </div>
    </div>

    <div class="working_hours">
      <span class="bold">3 km yakınında</span>
      <div class="right">
        <span class="green bold">İşletme Açık</span>
        <span class="opacity50 bold">10:00 / 22:00</span>
      </div>
    </div>
  </div>
</div>
