/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import "../node_modules/normalize.css/normalize.css";

:root {
  --white: #ffffff;
  --bg: #00000014;
  --font-color: #1a1824;
  --green: #34c47c;
  --red: #b70014;
  --box-shadow: #0108241a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: var(--bg);
  color: var(--font-color);
}

.green {
  color: var(--green);
}

.opacity50 {
  opacity: 50%;
}

.bold {
  font-weight: bold;
}
